<div class="container-fluid" style="height: 300px; background-color:  rgb(226, 93, 50)">
    <div class="container" style="width: 800px; ">
        <div class="row" style="height: 300px; display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;" >
            <div class="col-6" style=" height: 300px; text-align: right; padding: 40px;">
                <h4 style="font-weight: 700;">About Us</h4>
                <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut provident reprehenderit sed incidunt consectetur quibusdam odio nostrum, dicta distinctio autem veritatis quis maiores commodi quos! Perspiciatis nam quas assumenda obcaecati?</p>
            </div>
            <div class="col-6" style=" height: 300px; text-align: left;  padding: 40px;">
                <h4>Contact Us</h4>
                <p>Address : </p>
                <p style="color: rgb(0, 0, 0);">CJC Akurdi, I dont know after that, Pune, Maharashtra</p>
                <p style="color: black"></p>
                <p>Email : </p>
                <p  style="color: black">whatever@gmail.com</p>
            </div>

        </div>
    </div>

</div>


<div class="container-fluid" style="background-color: black; height: 50px;">
    <div class="container" style="width:800px;">
        <div class="row">
            <div class="col-8">
                <p style="padding-top: 10px;"> <img src="/assets/icons/icons8-c-16 (1).png" alt="" class="align-middle" style="width: 20px; height: 20px;">2023 Home Loan Management System, All Rights Reserved</p>
            </div>
            <div class="col-4" style=" height: 50px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: right;">
                <a href=""><i class="fa fa-facebook-square" aria-hidden="true" style="color: white; font-size:22px;"></i></a>
                <a href=""> <i class="fa fa-twitter-square" aria-hidden="true" style="color: white; font-size:22px; margin-left: 20px;"></i>
                </a>
                <a href=""><i class="fa fa-linkedin-square" aria-hidden="true" style="color: white; font-size:22px; margin-left: 20px;"></i></a>
                <a href=""><i class="fa fa-google-plus-square" aria-hidden="true" style="color: white; font-size:22px; margin-left: 20px;"></i>
                </a>
            </div>
        </div>
    </div>
</div>