.container-fluid{
    height: 60px;
    background-color: whitesmoke;
    width: 100%
}


.row{
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

