<div class="container" style="height: 600px; width: 1000px;">

    <div class="row">
        <div class="col-12" style="margin-top: 75px; text-align: center;">
            <h2>Features We Provide</h2>
            <p>Think About Your New House and We Will Take Care Of The Rest</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="cards" style="display: flex; height: 400px;
            align-items: center;
            text-align: center;
            justify-content: space-between;">
                <div class="cards1" style="width: 250px; height: 300px; background-color: white; padding: 30px;">
                    <img src="/assets/icons/icons8-1-60.png" alt="" style="width:60px; height: 60px; ">
                    <h4>Our Values</h4>
                    <p>We works on the values of Trust,</p>
                    <p>Transperecy, Integrity and Excellence</p>
                </div>
                <div class="cards2" style="width: 250px; height: 300px; background-color: white;  padding: 30px;">
                    <img src="/assets/icons/icons8-2-60.png" alt="">
                    <h4>Value To Customers</h4>
                    <p>We offers low interest rates, interest rate on daily reducing balance</p>
                </div>
                <div class="cards3" style="width: 250px; height: 300px; background-color: white;  padding: 30px;">
                    <img src="/assets/icons/icons8-3-60.png" alt="">
                    <h4>Our presence</h4>
                    <p>We serves you with over 25000+ branches with strong dedicated sales team</p>
                </div>
            </div>
        </div>
    </div>
</div>