button {
  text-decoration: none;
  background-color: rgb(245, 247, 248);
  border: none;
  font-weight: 600;
  padding: 5px;

}

button:hover{
  border-bottom: 3px solid rgb(226, 93, 50);
  color: rgb(226, 93, 50);

}
  
  body {
    display: grid;
    height: 100vh;
    place-items: center;
  }
  
  