<div style="background-color: rgb(245, 247, 248);">
    <div>
        <div class="container-fluid" style="background-color: rgb(226, 93, 50);">
            <app-header></app-header>
        </div>
        
        <div class="container-fluid" >
            <app-navigation></app-navigation>
        </div>
        
        <div>
            <app-main></app-main>
        </div>

        <div>
            <app-cards></app-cards>
        </div>
        
        <div>
            <app-footer></app-footer>
        </div>
        
        
    <div>
        <router-outlet></router-outlet>
    </div>
       
    </div>

  
</div>

