.form-container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 35px 35px 100px #e6e6e6, -35px -35px 100px #ffffff;
}
h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 4%;
  margin-top: 2%;
}
hr {
  color: rgb(226, 93, 50);
  display: block;
  margin-top: 0.5em;
  //margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}
h4 {
  // text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  margin-top: 2%;
}
.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-container input[type="text"],
.form-container input[type="tel"],
.form-container input[type="number"],
.form-container input[type="file"],
.form-container input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid rgb(226, 93, 50);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="file"]:focus,
input[type="text"]:focus {
  outline: 2px solid orange;
}

select:focus {
  outline: 2px solid orange;
}
select option {
  margin: 40px;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid rgb(226, 93, 50);
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  background-color: #0069d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 45%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.form-container button:hover {
  background-color: #0056b3;
}

//two form-row in one row
.form-row {
  display: flex;
  margin-bottom: 10px;
}

.form-row label {
  width: 546px;
  margin-right: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.firstrow {
}
.secondrow {
  margin-left: 4%;
}

//three input in one row
.threeform-row {
  display: flex;
  margin-bottom: 10px;
}
.threeform-row label {
  width: 346px;
  margin-right: 10px;
}
.firstperrow {
}
.secondperrow {
  margin-left: 4%;
}
.thirdperrow {
  margin-left: 4%;
}

//four input in one row
.fourform-row {
  display: flex;
  margin-bottom: 10px;
}
.fourform-row label {
  width: 246px;
  margin-right: 10px;
}
.rowfirst {
}
.rowsecond {
  margin-left: 4%;
}
.rowthird {
  margin-left: 4%;
}
.rowfourth {
  margin-left: 4%;
}

//checkbox

input[type="checkbox"] {
  accent-color: red;
}
