<div class="container" style="width: 1200px; height:35px; ">

    <div class="row">
        <div class="col-6" style=" height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: left;">
            <a href=""><i class="fa fa-facebook-square" aria-hidden="true" style="color: white; font-size:22px;"></i></a>
            <a href=""> <i class="fa fa-twitter-square" aria-hidden="true" style="color: white; font-size:22px; margin-left: 20px;"></i>
            </a>
            <a href=""><i class="fa fa-linkedin-square" aria-hidden="true" style="color: white; font-size:22px; margin-left: 20px;"></i></a>
            <a href=""><i class="fa fa-google-plus-square" aria-hidden="true" style="color: white; font-size:22px; margin-left: 20px;"></i>
            </a>
        </div>

        <div class="col-6" style=" height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: right;">
            <!-- <a routerLink="signup" style="font-size: 15px; text-decoration: none; color: white; font-family: 'Roboto', sans-serif; font-weight: 500;">Sign Up</a> -->
            <!-- <a href="" style="font-size: 15px; text-decoration: none; color: white; font-family: 'Roboto', sans-serif; margin-left: 30px; font-weight: 500;"  >Sign In</a> -->
        </div>
    </div>

</div>